
@background: #e7e7e7;
@grey: #808080;
@dark-grey:#555555;
@white:#FFFFFF;




body {
    background-color: @background;
  }

h2{

  margin-top: 50px;
  text-align: center;
  font-family:cursive;
  font-size:35pt;
}

#positionContainer{

margin-top: 100px;
}

#positionKunde{
  margin-right: 100px;
}


  #buttonKunde {
    box-shadow: 0px 5px 10px @grey;
    height: 100px;
    width: 200px;
     &:hover {
      background-color: @dark-grey;
      color: @white;
    }
    &:active {
      box-shadow: 0px 0px 0px;
    }
  }

  
  #buttonBetreiber {
    box-shadow: 0px 5px 10px @grey;
    height: 100px;
    width: 200px;
    &:hover {
      background-color: @dark-grey;
      color: @white;
    }
    &:active {
       box-shadow: 0px 0px 0px;
    }
  }

 /* 
  * --------------------------------------------------------------- 
  * -------------------------Layoutelemente------------------------
  */

  //Diese Variablen können beliebig angepasst werden
  //Solange git: wrapper-height > ueberschrift-height && wrapper-width > navleiste-width
  @margin-top:50px;
  @wrapper-height:600px;
  @wrapper-width:1000px;
  @ueberschrift-height:100px;
  @navleiste-width:200px;
  @rand-aussen:2px;
  @rand-innen:1px;
  @rand-farbe: black;


  #wrapper {
    //Alles umschließendes DIV
    margin: auto;
    margin-top:@margin-top;
    height: @wrapper-height;
    width: @wrapper-width;
    box-sizing: border-box;
    border: @rand-aussen solid @rand-farbe;
  }
  #ueberschrift {
    //Oberer horizontaler Balken für Überschrift
    height: @ueberschrift-height - @rand-aussen - @rand-innen;
    width: @wrapper-width - (2*@rand-aussen);
    box-sizing: border-box;
    border-bottom: @rand-innen solid @rand-farbe;
  }
  #inhalt {
    //Umschließendes unteres Element. Enthält Navleiste und Contentfeld
    display: flex;
    height: @wrapper-height - @ueberschrift-height - @rand-innen;
    width: @wrapper-width - (2*@rand-aussen);
  }
  #navleiste {
    //Navleiste links
    height: @wrapper-height - @ueberschrift-height - @rand-innen;
    width: @navleiste-width;
    box-sizing: border-box;
    border-right: @rand-innen solid @rand-farbe;
  }
  #formular {
    //Contentbereich für z.B Inputfelder, Listen und vielem mehr
    height: @wrapper-height - @ueberschrift-height - @rand-innen;
    width: @wrapper-width - @navleiste-width
  }

  //Die beiden Hauptbuttons 'Betreiber' und 'Kunde'
  .primaryButton {
    width:100%;
    height:3em;
    background-color: @dark-grey;
    text-align: center;
    margin-bottom:1px;
    color:white;
  }
  .primaryButton:hover{
    background-color: @white;
    color:@dark-grey;
  }
  .primaryButton:first-child{
    margin-top: 1px;
  }
  //Geöffneter Hauptbutton
  .openPrimaryButton {
    background-color: @grey;
  }

  //Das Anklicken der <p>-Tags zu verhindern macht den js-Code etwas einfachen
  //(toggleMenu() kann dann einfacher herausfinden, welcher Hauptbutton gedrückt wurde)
  //Ansonsten keine Funktion
  #navleiste > div > p  {
    pointer-events: none;
  }


  //Unterbuttons
  .oSubButton, .cSubButton {
    text-align: center;
    margin-bottom:1px;
    color:@dark-grey;
    width:100%;
    background-color: @white;
  }
  .oSubButton:first-child, .cSubButton:first-child {
    
    margin-top: 1px;
  }
  .oSubButton:hover, .cSubButton:hover {
    background-color: @dark-grey;
    color:@white
  }


  


  //Style für Unterputtons + Übergang
  @button-transitionTime: .05s;
  .inactive {
    height: 0;
    display: hidden;
    font-size: 0;
    transition: height @button-transitionTime
  }
  .active {
    height: 2em;
    font-size: 100%;
    transition: height @button-transitionTime, font-size @button-transitionTime;
  }