@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
@import "./subFiles/layout.less";
@import "./subFiles/navBar.less";
@import "./subFiles/list.less";
@import "./subFiles/popup.less";

@background: black;
@fontColor:white;
@grey: #808080;
@dark-grey:#555555;
@white:#FFFFFF;
@yellow:#ffa600;



body {
    background-color: @background;
    color:@fontColor;
  }

h2{

  margin-top: 2%;
  text-align: center;
  font-family:cursive;
  font-size:35pt;
}
