
// Umschließendes div für jede Vorstellung 
.items-container{
    background-color: @background;
    box-shadow: 0px 5px 10px @yellow;
    border-color: @yellow;
    margin-bottom: 3%;
    margin-left:10%;
    margin-right:10%;
    padding-top:1.5%;
    padding-bottom: 1.5%;
    padding-right: 25%;
    padding-left: 25%;
  }

  // Container für den Namen der Vorstellung
  .container-name{
    font-family:cursive;
    font-size: 1.5rem;
  }
  
  // Container für das Datum der Vorstellung
  .container-datum{
    font-size: 0.8rem;   
  }

  // Container für Buttons mittig ausrichten 
  .buttonContainer{
    text-align: center;
  }
  
  // Bei einer minimalen Größe des Browserfensters verschiebt sich der Button Container um 2% nach unten 
  #divButtonsSmall{
    margin-top:2%;
  }
  